<div class="transaction-contents">
  <div class="transaction-main">
    <h1 class="transaction-title-text">購入内容の確認</h1>

    <div class="buy-item-info">
      <%= image_tag @item.image, class: "buy-item-img" %>
      <div class="buy-item-right-content">
        <div class="buy-item-text"><%= @item.name %></div>
        <div class="buy-item-price">
          <span class="item-price-text">¥ <%= @item.price %></span>
          <span class="item-price-sub-text">（税込）<%= @item.shipping_fee_status.name %></span>
        </div>
      </div>
    </div>

    <div class="item-payment">
      <span class="item-payment-title">支払金額</span>
      <span class="item-payment-price">¥ <%= @item.price %></span>
    </div>

    <%= form_with model: @order_address, url: item_orders_path(@item.id), local: true, id: "charge-form", data: { turbo: false, payjp_public_key: ENV["PAYJP_PUBLIC_KEY"] } do |f| %>
      <%= render 'shared/error_messages', model: f.object %>

      <% label_style = "display:block; font-weight:bold; margin:18px 0 6px;" %>
      <% box_style   = "border:1px solid #ccc; border-radius:4px; padding:12px;" %>
      <% field_style = "display:block; width:100%; height:42px; padding:0 10px; border:1px solid #ccc; border-radius:4px; box-sizing:border-box;" %>

      <div class="credit-card-form">
        <h3 class="info-input-haedline">クレジットカード情報入力</h3>
        <label style="<%= label_style %>">カード番号<span class="indispensable">必須</span></label>
        <div id="number-form" style="<%= box_style %>"></div>
        <label style="<%= label_style %>">有効期限<span class="indispensable">必須</span></label>
        <div id="expiry-form" style="<%= box_style %>"></div>
        <label style="<%= label_style %>">セキュリティコード<span class="indispensable">必須</span></label>
        <div id="cvc-form" style="<%= box_style %>"></div>
      </div>

      <div class="shipping-address-form">
        <h3 class="info-input-haedline">配送先</h3>
        <label style="<%= label_style %>">郵便番号<span class="indispensable">必須</span></label>
        <%= f.text_field :postal_code, style: field_style, placeholder: "例)123-4567（ハイフン必須）" %>
        <label style="<%= label_style %>">都道府県<span class="indispensable">必須</span></label>
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, { style: field_style } %>
        <label style="<%= label_style %>">市区町村<span class="indispensable">必須</span></label>
        <%= f.text_field :city, style: field_style, placeholder: "例)横浜市緑区" %>
        <label style="<%= label_style %>">番地<span class="indispensable">必須</span></label>
        <%= f.text_field :house_number, style: field_style, placeholder: "例)青山1-1-1" %>
        <label style="<%= label_style %>">建物名<span class="form-any">任意</span></label>
        <%= f.text_field :building_name, style: field_style, placeholder: "例)柳ビル103" %>
        <label style="<%= label_style %>">電話番号<span class="indispensable">必須</span></label>
        <%= f.text_field :phone_number, style: field_style, placeholder: "例)09012345678（ハイフン不要）" %>
      </div>

      <div class="buy-btn">
        <%= f.submit "購入する", class: "buy-red-btn" %>
      </div>
    <% end %>
  </div>
</div>
